@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="main-wrapper">
    <h4 class="title">Generating art with .NET and Stable Diffusion</h4>
    <div class="form-wrapper h-100 mb-3">
        <form class="w-100" asp-page-handler="GenerateImage" method="post">
            <div class="input-wrapper">
                <input class="input-prompt" type="text" placeholder="Enter description" name="PromptText" />
                <button class="btn btn-primary submit-btn" type="submit" id="btnSubmit">Generate</button>
            </div>
        </form>
        <div class="pic-result">
            <div class="pic-wrapper">
                @if (TempData["ImageName"] != null)
                {
                    <img id="generatedImage" src='http://localhost:5068/api/ImageGeneration/image/@TempData["ImageName"]' class="mb-3" alt="Generated Image" style="width:512px;">
                    <div>
                        <a href="http://localhost:5068/api/ImageGeneration/download/@TempData["ImageName"]">
                            <button class="h-100 w-25 btn btn-outline-primary">Download</button>
                        </a>
                    </div>
                }
                else
                {
                    <img src="https://s.net.vn/0Oxu" class="mb-3" alt="Default Image" style="width:200px;">
                    <div>
                        <button class="h-100 w-25 btn btn-outline-primary" style="display: none;">Download</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="panel-lib">
    @if (Model.ImageUrls.Count > 0)
    {
        <div class="image-gallery">
            @foreach (var imageUrl in Model.ImageUrls)
            {
                <img src="@imageUrl" onclick="downloadImage" alt="Image">
            }
        </div>
    }
    else
    {
        <p>No images found.</p>
    }
</div>


