@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="main-wrapper">
    <h4 class="title">Generating art with .NET and Stable Diffusion</h4>
    <div class="form-wrapper h-100 mb-3">
        <form class="w-100" asp-page-handler="GenerateImage" method="post">
            <div class="input-wrapper">
                <input class="input-prompt" type="text" placeholder="Enter description" name="PromptText" />
                <button class="btn btn-primary submit-btn" type="submit" id="btnSubmit">Generate</button>
            </div>
        </form>
        <div class="pic-result">
            <div class="pic-wrapper">
                <img src='http://localhost:5068/api/ImageGeneration/@TempData["ImageUrl"]' class="mb-3" alt="Cinque Terre" alt="result" width="512px">
                <text></text>
            </div>
            <div><button class="h-100 w-25 btn btn-outline-primary">Download</button></div>
        </div>
    </div>
</div>
<div class="panel-lib">
    <img src="https://www.w3schools.com/howto/img_5terre.jpg" alt="Cinque Terre" width="auto" height="512px">
    <img src="https://www.w3schools.com/howto/img_forest.jpg" alt="Forest" width="auto" height="512px">
    <img src="https://www.w3schools.com/howto/img_lights.jpg" alt="Northern Lights" width="auto" height="512px">
    <img src="https://www.w3schools.com/howto/img_mountains.jpg" alt="Mountains" width="auto" height="512px">
</div>