@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Agilino</h1>
    <h4>Generating art with .NET and Stable Diffusion</h4>
    @* <p>@ViewData["Message"]</p> *@
    <form>
    <div class="h-100">
    <input class="px-2 py-1 mb-1 h-25" type="text"
        placeholder="Enter a word to describe" name="Animal"  />
    <button class="h-100 btn-primary" type="submit"
        id="btnSubmit">Generate</button>
    </div>
    <div class="pic-result">
        <div class="d-inline-flex">
            <img src="https://www.w3schools.com/howto/img_5terre.jpg" class="mb-3" alt="Cinque Terre" alt="result">
        </div>
        <div><button class="h-100 w-25 btn-primary">Download</button></div>
        
    </div>
    <div class="panel-lib">
        <img src="https://www.w3schools.com/howto/img_5terre.jpg" alt="Cinque Terre" width="50%" height="50%">
        <img src="https://www.w3schools.com/howto/img_forest.jpg" alt="Forest" width="50%" height="50%">
        <img src="https://www.w3schools.com/howto/img_lights.jpg" alt="Northern Lights" width="50%" height="50%">
        <img src="https://www.w3schools.com/howto/img_mountains.jpg" alt="Mountains" width="50%" height="50%">
    </div>
    </form>
</div>